<!DOCTYPE html>
<html>
<head>
  <title>Tweet My Rep</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container" >

    <%= yield %>

    <footer class="muted">
      <hr>
      <div class="footer-text">
        <p>A <%= link_to "NationBuilder", "http://www.nationbuilder.com" %> Production</p>
      </div>
    </footer>

  </div>
</body>
</html>
